<!DOCTYPE html>
<html>
  <head>
  <title>Sell-Fast</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>
    <div class="container-fullwidth">
      <nav class="navbar navbar-expand-md navbar-dark bg-info">
        <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                  <%= link_to 'Sell-Fast', items_path, :class => 'btn btn-warning' %>
                </li>
            </ul>
        </div>
        <% if user_signed_in? %>
          <div class="mx-auto order-0">
            <h3> Hello <%= current_user.username %> </h3>
          </div>  
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <%= link_to "Log out", destroy_user_session_path, :class => 'btn btn-warning' %>
                </li>
            </ul>
          </div>
        <% else %>
          <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= button_to "Login", new_session_path(:user), :class => 'btn btn-warning' %>
              </li>
            </ul>
          </div>
        <% end %>
      </nav>
    </div>
    <div class="container">
        <%= yield %>
    </div>
  </body>
</html>


